<div class="wrapper" id="app">
  <div class="card-form">
    <div class="card-list">
      <div class="card-item" :class="{ '-active' : isCardFlipped }">
        <%= render partial: 'card_item_front' %>

        <%= render partial: 'card_item_back' %>
      </div>
    </div>
    
    <%= render partial: 'card_form_inner' %>
  </div>
  
  <a href="https://github.com/muhammederdem/credit-card-form" target="_blank" class="github-btn">
    See on GitHub
  </a>
</div>

<%= javascript_pack_tag 'credit_card_form/application' %>
